:root {
  --background: #30343f;
  --primary: #1e2749;
  --secondary: #273469;
  --text-realce: #fb8500;
  --text: #aaa;
  --focus: #ff9f1c;
  --safe: #45a049;
  --input-background: #444;
  --input-border: #555;
  --button-background: #4caf50;
  --white: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  margin: 0;
  padding: 0;
  color: var(--white);
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: var(--primary);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para o container */
  border-radius: 8px;
}

.images {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}

.boxes {
  display: flex;
  flex-wrap: wrap; /* Quebra a linha quando os elementos não cabem na largura disponível */
  gap: 20px; /* Espaçamento entre os elementos */
}

.box1,
.box2 {
  flex: 1;
  background-color: var(--secondary);
  padding: 15px;
  border-radius: 5px;
}

.box2 {
  max-width: 30%;
}

h1,
h2,
h3 {
  color: var(--text-realce);
}

h1,
h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

.meus-dados {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

#formulario {
  margin-top: 15px;
}

fieldset {
  border: 1px solid var(--input-border);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

legend {
  color: var(--text-realce);
  font-weight: 700;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  flex-basis: 100px; /* Tamanho mínimo da label */
}

input[type='text'],
input[type='number'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  background-color: var(--input-background);
  color: var(--white);
  font-size: 1rem;
}

input[type='text']:focus,
input[type='number']:focus {
  border-color: var(--focus);
  outline: none;
}

.form-group {
  display: flex; /* Alinhamento horizontal dos elementos */
  align-items: center;
  gap: 10px; /* Espaçamento entre os elementos */
  margin-bottom: 10px;
}

#form_btn {
  width: 100%;
  background-color: var(--button-background);
  color: var(--white);
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#form_btn:hover {
  background-color: var(--safe);
}

/* Resumo */

.apply-discount {
  border-top: 1px solid var(--input-border);
  padding-top: 10px;
  margin-top: 10px;
}

.apply-discount-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: var(--text-realce);
}

.apply-discount-body {
  /* display: none; */
  margin-top: 10px;
}

.apply-discount-body input {
  width: 90%;
  margin-top: 5px;
}

.icons {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.icons i {
  font-size: 20px;
}

.garantia_box {
  display: flex;
  flex-flow: column;
  align-items: center;
  border-top: 1px solid var(--input-border);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--input-border);
}

/* Botão de desconto */

#discount_btn {
  background-color: var(--text-realce);
  color: var(--white);
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#discount_btn:hover {
  background-color: var(--focus);
}

.safe {
  color: var(--safe);
}

.safe_img {
  width: 300px;
  border-radius: 10%;
}

/* footer */

footer {
  text-align: center;
  margin-top: 20px;
  color: var(--text);
}

footer a {
  color: var(--text-realce);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
